.chat-side

  .chat-side__user
    .chat-side__user-content
      .chat-side__user-content-name
      .chat-side__user-content--new-group
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      .chat-side__user-content--edit-user
        = link_to edit_user_path(current_user) do
          %span.fa.fa-cog

  .chat-side__groups
    .chat-side__groups-list
      - @groups.each do |group|
        .chat-side__groups-list__group
          .chat-side__groups-list__group--name
            = link_to group.name, group_messages_path(group), class: "chat-side__groups-list__group--name__link"
          .chat-side__groups-list__group-message
